<footer>
  <section class="footer">
    <div class="container">
      <div class="footer__top-nav">
        <!-- Shop -->
        <div class="footer__nav-list">
          <div class="footer__nav-list-item footer__nav-list-item-blue">
            <div class="footer__nav-list-item-title-container">
              <h2 class="footer__nav-list-item-title">Shop</h2>
            </div>
            <ul class="footer__nav-list-link-container" id="list-1">
              <li><a href="#">baby apparel</a></li>
              <li><a href="#">baby gifts</a></li>
              <li><a href="#">furniture</a></li>
              <li><a href="#">bedding</a></li>
              <li><a href="#">lighting</a></li>
              <li><a href="#">sale</a></li>
            </ul>
          </div>

          <!-- Service -->
          <div class="footer__nav-list-item footer__nav-list-item-green">
            <div class="footer__nav-list-item-title-container">
              <h2 class="footer__nav-list-item-title">Service</h2>
            </div>

            <ul class="footer__nav-list-link-container" id="list-2">
              <li><a href="#">contact us</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">shipping policy</a></li>
              <li><a href="#">return policy</a></li>
              <li><a href="#">my account</a></li>
              <li><a href="#">faq</a></li>
            </ul>
          </div>

          <!-- About -->
          <div class="footer__nav-list-item footer__nav-list-item-pink">
            <div class="footer__nav-list-item-title-container">
              <h2 class="footer__nav-list-item-title">About</h2>
            </div>
            <ul class="footer__nav-list-link-container" id="list-3">
              <li><a href="#">our story</a></li>
              <li>
                <a href="#" class="footer__nav-list-link">baby registry</a>
              </li>
              <li>
                <a href="#" class="footer__nav-list-link">store location</a>
              </li>
              <li><a href="#">reviews</a></li>
              <li><a href="#">news</a></li>
              <li><a href="#">subscribe</a></li>
            </ul>
          </div>

          <!-- Contact -->
          <div class="footer__nav-list-item">
            <div class="footer__nav-list-item-title-container">
              <h2 class="footer__nav-list-item-title">Contact</h2>
            </div>
            <div class="footer__nav-list-item-contact-container">
              <p class="footer__nav-list-item-address">
                4472 Lawn Avenue <br />
                Western Springs, IL 60558
              </p>
              <p class="footer__nav-list-item-num">1-708-245-1212</p>
              <a href="#" class="footer__nav-list-store-hours">Store Hours</a>
              <div class="footer__nav-social-links"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Subfooter -->
      <div class="footer__subfooter">
        <div class="footer__copyright">
          <ul>
            <li>
              <p>
                <span>&copy;</span>2022 Beautiful Beginnings. All Rights
                Reserved
              </p>
            </li>
            <li>
              <a href="#">Site Map</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div class="footer__design-text">
          <p>Designed and developed by <a href="#">americaneagle.com</a></p>
        </div>
        <div>
          <img
            src="./assets/images/BB-logo-1.png"
            alt="beautiful beginnings logo"
          />
        </div>
      </div>
    </div>
  </section>
</footer>
