<header class="site-header" id="site-header" role="banner">
  <div class="container">
    <nav class="navbar__main">
      <div class="navbar__main-container">
        <div class="navbar__logo-container">
          <img src="./assets/images/BB-logo-1.png" alt="BB logo" />
        </div>
        <div class="navbar__chat-container">
          <div class="navbar__inner-chat-container">
            <a
              class="navbar__num"
              href="tel:17082461212"
              aria-label="Call 1-708-246-1212"
            >
              <div class="navbar__phone-svg-container">
                <img src="assets/images/phone.svg" alt="phone icon" />
              </div>
              1-708-246-1212
            </a>
            <a class="navbar__chat" href="#" aria-label="start chat">
              <div class="navbar__chat-svg-container">
                <img src="assets/images/chat.svg" alt="chat icon" />
              </div>
              Chat
            </a>
          </div>
        </div>
        <div class="navbar__cart-container">
          <div class="navbar__inner-cart-container">
            <div class="signin-link-container">
              <a
                href="#"
                class="navbar__signin-link navbar__link"
                aria-label="sign in"
                >Sign In</a
              >
            </div>
            <div class="navbar__cart-link-container">
              <div class="navbar__cart-num">5</div>
              <a href="#" class="navbar__cart-link navbar__link"></a>
            </div>
            <div class="navbar__search-link-container">
              <a
                href="#"
                class="navbar__search-link navbar__link navbar__mobile-search-link navbar__search-svg"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar__search">
        <label class="navbar__search-label" for="navbar__input"
          >Search Bar</label
        >
        <input
          class="navbar__input"
          type="text"
          name="navbar__input"
          id="navbar__input"
          placeholder="Search..."
        />
      </div>
      <div class="navbar__menu">
        <ul class="navbar__menu-list">
          <li class="navbar__menu-list-item navbar__mobile-close-item">
            <button class="navbar__mobile-close-btn">
              <img src="assets/images/close.svg" />
            </button>
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">Baby Apparel</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">Baby Gifts</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">Furniture</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">Bedding</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">Lighting</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">SALE</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <a href="#">About</a>
            <img
              src="assets/images/navarrow.svg"
              class="navbar__menu-list-item-svg"
            />
          </li>
          <li class="navbar__menu-list-item">
            <div class="navbar__mobile-newsletter-card">
              <div class="navbar__mobile-newsletter-inner-container">
                <div class="navbar__mobile-newsletter-signup">
                  <h2 class="navbar__mobile-newsletter-signup-title">
                    Newsletter
                  </h2>
                  <h3 class="navbar__mobile-newsletter-signup-subtitle">
                    Sign-Up
                  </h3>
                  <div class="navbar__mobile-newsletter-input-container">
                    <label
                      for="mobile__email"
                      class="navbar__mobile-newsletter-input-label"
                    ></label>
                    <input
                      type="email"
                      id="mobile__email"
                      placeholder="Your Email"
                      class="navbar__mobile-newsletter-input"
                    />
                    <div class="navbar__mobile-newsletter-email-svg-container">
                      <img
                        src="assets/images/email.svg"
                        class="navbar__mobile-newsletter-email-svg"
                      />
                    </div>
                  </div>
                  <div class="navbar__mobile-newsletter-button-container">
                    <button class="navbar__mobile-newsletter-button">
                      Sign Me Up!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
