<section class="benefits" aria-labelledby="benefits-title">
  <div class="container">
    <h2>Beautiful Beginnings</h2>
    <h3>customer benefits</h3>
    <ul class="benefits__list">
      <li>
        <div class="benefits__img benefits__img-stroller">
          <img src="assets/images/crib.svg" alt="crib icon" />
        </div>
        <h4>10% OFF Registery</h4>
        <div class="benefits__list-item-graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <p class="benefits__list-item-description">When you enroll with us</p>
      </li>
      <li>
        <div class="benefits__img benefits__img-box">
          <img src="assets/images/shipping.svg" alt="shipping icon" />
        </div>
        <h4>Free Shipping</h4>
        <div class="benefits__list-item-graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <p class="benefits__list-item-description">On all orders over $100</p>
      </li>
      <li>
        <div class="benefits__img benefits__img-gift">
          <img src="assets/images/gift.svg" alt="gift icon" />
        </div>
        <h4>Free Gift Wrapping</h4>
        <div class="benefits__list-item-graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <p class="benefits__list-item-description">On all gift purchases</p>
      </li>
    </ul>
  </div>
</section>
