<section class="hero">
  <div
    class="hero__carousel"
    id="hero__carousel"
    aria-label="featured products carousel"
  >
    <div class="hero__carousel-slide">
      <div class="hero__carousel-img">
        <img src="assets/images/slide1.png" alt="Infant fall outfits on sale" />
      </div>
      <div class="hero__outter-text-container">
        <div class="hero__inner-text-container">
          <p class="hero__inner-product-mini-title">On Sale</p>
          <h2 class="hero__inner-product-title">Infant Fall Outfits</h2>
          <div class="hero__inner-slide-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <h3 class="hero__inner-product-description">Save up to 50%</h3>
          <div class="hero__inner-button-container">
            <button
              class="hero__inner-slide-button"
              aria-lable="show sale for infant fall outfits"
            >
              Shop Sale
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__carousel-slide">
      <div class="hero__carousel-img">
        <img src="assets/images/slide2.png" alt="baby knit outfits" />
      </div>
      <div class="hero__outter-text-container">
        <div class="hero__inner-text-container">
          <p class="hero__inner-product-mini-title">Brand New</p>
          <h2 class="hero__inner-product-title">Baby Knit Outfits</h2>
          <div class="hero__inner-slide-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <h3 class="hero__inner-product-description">
            Handmade, soft, comfortable and breathable
          </h3>
          <div class="hero__inner-button-container">
            <button
              class="hero__inner-slide-button"
              aria-label="show now for baby knit outfits"
            >
              Shop Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__carousel-slide">
      <div class="hero__carousel-img">
        <img src="assets/images/slide3.png" alt="plush stuffed animals" />
      </div>
      <div class="hero__outter-text-container">
        <div class="hero__inner-text-container">
          <p class="hero__inner-product-mini-title">Cuddly Soft</p>
          <h2 class="hero__inner-product-title">Plush Stuffed Animals</h2>
          <div class="hero__inner-slide-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <h3 class="hero__inner-product-description">
            Soft, huggable construction and charming design
          </h3>
          <div class="hero__inner-button-container">
            <button
              class="hero__inner-slide-button"
              aria-label="view all plush stuffed animals"
            >
              View All
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
