<main>
  <section class="hero">
    <div
      class="hero__carousel"
      id="hero__carousel"
      aria-label="featured products carousel"
    >
      <div class="hero__carousel-slide">
        <div class="hero__carousel-img">
          <img
            src="assets/images/slide1.png"
            alt="Infant fall outfits on sale"
          />
        </div>
        <div class="hero__outter-text-container">
          <div class="hero__inner-text-container">
            <p class="hero__inner-product-mini-title">On Sale</p>
            <h2 class="hero__inner-product-title">Infant Fall Outfits</h2>
            <div class="hero__inner-slide-graphic">
              <img src="assets/images/stardiv.svg" alt="star image" />
            </div>
            <h3 class="hero__inner-product-description">Save up to 50%</h3>
            <div class="hero__inner-button-container">
              <button
                class="hero__inner-slide-button"
                aria-lable="show sale for infant fall outfits"
              >
                Shop Sale
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__carousel-slide">
        <div class="hero__carousel-img">
          <img src="assets/images/slide2.png" alt="baby knit outfits" />
        </div>
        <div class="hero__outter-text-container">
          <div class="hero__inner-text-container">
            <p class="hero__inner-product-mini-title">Brand New</p>
            <h2 class="hero__inner-product-title">Baby Knit Outfits</h2>
            <div class="hero__inner-slide-graphic">
              <img src="assets/images/stardiv.svg" alt="star image" />
            </div>
            <h3 class="hero__inner-product-description">
              Handmade, soft, comfortable and breathable
            </h3>
            <div class="hero__inner-button-container">
              <button
                class="hero__inner-slide-button"
                aria-label="show now for baby knit outfits"
              >
                Shop Now
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__carousel-slide">
        <div class="hero__carousel-img">
          <img src="assets/images/slide3.png" alt="plush stuffed animals" />
        </div>
        <div class="hero__outter-text-container">
          <div class="hero__inner-text-container">
            <p class="hero__inner-product-mini-title">Cuddly Soft</p>
            <h2 class="hero__inner-product-title">Plush Stuffed Animals</h2>
            <div class="hero__inner-slide-graphic">
              <img src="assets/images/stardiv.svg" alt="star image" />
            </div>
            <h3 class="hero__inner-product-description">
              Soft, huggable construction and charming design
            </h3>
            <div class="hero__inner-button-container">
              <button
                class="hero__inner-slide-button"
                aria-label="view all plush stuffed animals"
              >
                View All
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="products" aria-labelledby="products-title">
    <div class="container">
      <ul class="products__list">
        <li class="products__list-item products__text-container">
          <p class="products__mini-title">this month's</p>
          <h2 class="products__title">Featured Products</h2>
          <div class="products__graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <div class="products__button-container">
            <button
              class="products__button"
              aria-label="view all featured products"
            >
              View All
            </button>
          </div>
        </li>

        <li class="products__list-item">
          <div class="products__list-item-container">
            <div class="products__list-item-img">
              <img
                src="assets/images/elephantsleeper.jpg"
                alt="elephant sleeper"
              />
            </div>
            <div class="products__list-text-container">
              <p class="products__list-text">Elephant Sleeper</p>
              <p class="products__list-text-price">$48</p>
            </div>
          </div>
        </li>

        <li class="products__list-item">
          <div class="products__list-item-container">
            <div class="products__list-item-img">
              <img src="assets/images/crib.jpg" alt="maple baby crib" />
            </div>
            <div class="products__list-text-container">
              <p class="products__list-text">Maple Baby Crib</p>
              <p class="products__list-text-price">$899</p>
            </div>
          </div>
        </li>

        <li class="products__list-item">
          <div class="products__list-item-container">
            <div class="products__list-item-img">
              <img src="assets/images/fox.jpg" alt="foxy baby plush doll" />
            </div>
            <div class="products__list-text-container">
              <p class="products__list-text">Foxy Baby Plush Doll</p>
              <p class="products__list-text-price">$32</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="shopping" aria-labelledby="shopping__category-title">
    <div class="shopping__category-container">
      <div class="shopping__category-img-container">
        <div class="shopping__category-img"></div>
      </div>
      <div class="shopping__category-text-container">
        <p class="shopping__category-mini-title">Sleept tight</p>
        <h2 class="shopping__category-title">Crib Bedding</h2>
        <div class="shopping__category-graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <p class="shopping__category-description">
          Make sure you little one catches all the Z's
        </p>
        <div class="shopping__button-container">
          <button
            class="shopping__category-button"
            aria-label="shop crib bedding"
          >
            shop bedding
          </button>
        </div>
      </div>
    </div>

    <div class="shopping__category-container shopping__category-container-alt">
      <div
        class="shopping__category-img-container shopping__category-img-container-alt"
      >
        <div class="shopping__category-img shopping__category-img-alt"></div>
      </div>
      <div class="shopping__category-text-container">
        <p class="shopping__category-mini-title">cozy comfortable</p>
        <h2 class="shopping__category-title">Children's Furniture</h2>
        <div class="shopping__category-graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <p class="shopping__category-description">
          Unwind and relax after playtime
        </p>
        <div class="shopping__button-container">
          <button
            class="shopping__category-button shopping__category-button-alt"
            aria-label="browse children's furniture"
          >
            Browse All
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="benefits" aria-labelledby="benefits-title">
    <div class="container">
      <h2>Beautiful Beginnings</h2>
      <h3>customer benefits</h3>
      <ul class="benefits__list">
        <li>
          <div class="benefits__img benefits__img-stroller">
            <img src="assets/images/crib.svg" alt="crib icon" />
          </div>
          <h4>10% OFF Registery</h4>
          <div class="benefits__list-item-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <p class="benefits__list-item-description">When you enroll with us</p>
        </li>
        <li>
          <div class="benefits__img benefits__img-box">
            <img src="assets/images/shipping.svg" alt="shipping icon" />
          </div>
          <h4>Free Shipping</h4>
          <div class="benefits__list-item-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <p class="benefits__list-item-description">On all orders over $100</p>
        </li>
        <li>
          <div class="benefits__img benefits__img-gift">
            <img src="assets/images/gift.svg" alt="gift icon" />
          </div>
          <h4>Free Gift Wrapping</h4>
          <div class="benefits__list-item-graphic">
            <img src="assets/images/stardiv.svg" alt="star image" />
          </div>
          <p class="benefits__list-item-description">On all gift purchases</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="mission" aria-labelledby="mission__title">
    <div class="mission__img-main-container">
      <div class="mission__img-container">
        <div class="mission__img"></div>
      </div>
      <div class="mission__img-container">
        <div class="mission__img mission__img-alt"></div>
      </div>
    </div>
    <div class="container">
      <h2 class="mission__title">We Love Babies</h2>
      <div class="mission__graphic">
        <img src="assets/images/stardiv.svg" alt="star image" />
      </div>
      <div class="mission__text-container">
        <p>
          Beautiful Beginnings offers finely crafted baby cribs as well as
          complete suites of nursery furniture, from traditional to
          contemporary. All the finest names in crib bedding and baby blankets
          are featured with thousands of fabrics available to customize your
          baby crib. We offer everything you need to personalize your baby
          nursery with one of a kind decor from distinctive lamps, clocks, wall
          hangings, picture frames and other decorative items.
        </p>
        <br />
        <p>
          To receive a gift from Beautiful Beginnings is a new mom's biggest
          wish. There are so many unique and beautiful baby gifts to select from
          including baby burp cloths, designer diaper bags, baby clothes and
          many baby toys. Whether you are looking for Christening gifts, a baby
          shower gift, a newborn gift or even a gift for a child's birthday, we
          have many baby gifts to choose from. Beautiful Beginnings is your one
          stop shop for all family and friends.
        </p>
      </div>
      <div class="mission__signature-container">
        <img src="assets/images/signature.svg" alt="company signature" />
      </div>
    </div>
  </section>
  <section class="newsletter" aria-labelledby="newsletter__title">
    <div class="newsletter__background"></div>
    <div class="container">
      <div class="newsletter__container">
        <div class="newsletter__card">
          <div class="newsletter__signup-container">
            <h2 class="newsletter__title">Newsletter</h2>
            <h3>Sign-up</h3>
            <p class="newsletter__signup-description">
              Get the latest promotions and special offers delivered directly to
              your inbox!
            </p>
            <div>
              <label for="email"></label>
              <input
                type="email"
                id="email"
                placeholder="Your Email"
                class="newsletter__input"
              />
              <div class="newsletter__email-svg-container">
                <img
                  src="assets/images/email.svg"
                  class="newsletter__email-svg"
                  alt="newsletter email icon"
                />
              </div>
            </div>
            <div>
              <button
                class="newsletter__button"
                aria-label="sign up for newsletter"
              >
                Sign Me Up!
              </button>
            </div>
          </div>
          <div class="newsletter__discount-container">
            <div class="newsletter__discount-text">
              <img src="assets/images/percent.svg" alt="discount icon" />
            </div>
            <p class="newsletter__discount-title">your first order</p>
            <p class="newsletter__discount-description">When you sign up.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
