<section class="products" aria-labelledby="products-title">
  <div class="container">
    <ul class="products__list">
      <li class="products__list-item products__text-container">
        <p class="products__mini-title">this month's</p>
        <h2 class="products__title">Featured Products</h2>
        <div class="products__graphic">
          <img src="assets/images/stardiv.svg" alt="star image" />
        </div>
        <div class="products__button-container">
          <button
            class="products__button"
            aria-label="view all featured products"
          >
            View All
          </button>
        </div>
      </li>

      <li class="products__list-item">
        <div class="products__list-item-container">
          <div class="products__list-item-img">
            <img
              src="assets/images/elephantsleeper.jpg"
              alt="elephant sleeper"
            />
          </div>
          <div class="products__list-text-container">
            <p class="products__list-text">Elephant Sleeper</p>
            <p class="products__list-text-price">$48</p>
          </div>
        </div>
      </li>

      <li class="products__list-item">
        <div class="products__list-item-container">
          <div class="products__list-item-img">
            <img src="assets/images/crib.jpg" alt="maple baby crib" />
          </div>
          <div class="products__list-text-container">
            <p class="products__list-text">Maple Baby Crib</p>
            <p class="products__list-text-price">$899</p>
          </div>
        </div>
      </li>

      <li class="products__list-item">
        <div class="products__list-item-container">
          <div class="products__list-item-img">
            <img src="assets/images/fox.jpg" alt="foxy baby plush doll" />
          </div>
          <div class="products__list-text-container">
            <p class="products__list-text">Foxy Baby Plush Doll</p>
            <p class="products__list-text-price">$32</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
