<section class="shopping" aria-labelledby="shopping__category-title">
  <div class="shopping__category-container">
    <div class="shopping__category-img-container">
      <div class="shopping__category-img"></div>
    </div>
    <div class="shopping__category-text-container">
      <p class="shopping__category-mini-title">Sleept tight</p>
      <h2 class="shopping__category-title">Crib Bedding</h2>
      <div class="shopping__category-graphic">
        <img src="assets/images/stardiv.svg" alt="star image" />
      </div>
      <p class="shopping__category-description">
        Make sure you little one catches all the Z's
      </p>
      <div class="shopping__button-container">
        <button
          class="shopping__category-button"
          aria-label="shop crib bedding"
        >
          shop bedding
        </button>
      </div>
    </div>
  </div>

  <div class="shopping__category-container shopping__category-container-alt">
    <div
      class="shopping__category-img-container shopping__category-img-container-alt"
    >
      <div class="shopping__category-img shopping__category-img-alt"></div>
    </div>
    <div class="shopping__category-text-container">
      <p class="shopping__category-mini-title">cozy comfortable</p>
      <h2 class="shopping__category-title">Children's Furniture</h2>
      <div class="shopping__category-graphic">
        <img src="assets/images/stardiv.svg" alt="star image" />
      </div>
      <p class="shopping__category-description">
        Unwind and relax after playtime
      </p>
      <div class="shopping__button-container">
        <button
          class="shopping__category-button shopping__category-button-alt"
          aria-label="browse children's furniture"
        >
          Browse All
        </button>
      </div>
    </div>
  </div>
</section>
